<app-header titulo="Reservaciones Realizadas" idMenu="second"></app-header>
<app-menu idMenu="second" contentId="principal"></app-menu>

<ion-router-outlet id="principal"></ion-router-outlet>
<ion-content>

    <ion-item>
        <ion-label>Seleccionar Cubiculo</ion-label>
        <ion-select [(ngModel)]="numeroCubiculo" placeholder="Select" (ionChange)="seleccionarCubiculo(numeroCubiculo)">

            <ion-select-option *ngFor="let cubiculo of cS.cubiculos" [value]="">
                {{cubiculo.cubiculo}}
            </ion-select-option>
        </ion-select>
    </ion-item>
    <div>

    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <ion-item *ngFor="let item of cS.cubiculo">
            <ion-label>{{ item.hora_inicio }} - {{ item.hora_fin }}</ion-label>
            <ion-checkbox [name]="item.horario" (ngModel)="item.horario" slot="start" color="medium"></ion-checkbox>
        </ion-item>
        <br>
        <ion-button type="submit" color="success" shape="round" expand="full" fill="outline">Apartar</ion-button>
    </form>
</ion-content>