<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab One
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <h1>Slide 1</h1>
        </ion-slide>
        <ion-slide>
            <h1>Slide 2</h1>
            <button ion-button icon-right clear full large>
              Continuar
              <ion-icon name="arrow-forward"></ion-icon>    
      </button>
        </ion-slide>
    </ion-slides>
</ion-content>