<app-header idMenu="first" titulo="Reservaciones"></app-header>

<app-menu idMenu="first" contentId="principal"></app-menu>

<ion-router-outlet id="principal"></ion-router-outlet>
<form #f="ngForm" novalidate>
    <ion-searchbar animated (ionChange)="buscar(first.value)" name="first" ngModel #first="ngModel"></ion-searchbar>
</form>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refrescando...">

        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <div>
            <ion-item *ngFor="let art of aS.articulos; let i = index">
                <ion-thumbnail slot="start">
                    <!-- <ion-img src="../../assets/img/user.png"></ion-img> -->
                    <ion-img src="{{url}}/img/warehouse/{{art.foto}}"></ion-img>
                </ion-thumbnail>
                <ion-label text-wrap>
                    <ion-text color="primary">
                        <h3>{{ art.nombre }}</h3>
                    </ion-text>
                    <p>{{ art.descripcion }} <br> modelo: {{ art.modelo }}</p>
                    <p>Cantidad disponible :v: {{ art.cantidad }}</p>
                    <ion-text color="secondary" text-center>
                        <ion-button shape="round" expand="full" fill="outline" color="tertiary" size="small" (click)="mostrarAlert(art.id)">Reservar</ion-button>
                    </ion-text>
                </ion-label>
            </ion-item>
        </div>

        <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </ion-list>
</ion-content>