// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.imgCard {
    margin-left: 30%;
    width: 40%;
    height: 40%;
}

.inp {
    padding: 10%;
    text-align: center;
}

.imgPerfil {
    align-items: center;
}

.fondo {
    --background: rgba(126, 8, 39, 0.7);
    --padding-top: 25%;
}

.prueba {
    --background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}