<ion-menu side="start" type="overlay" contentId="principal" [menuId]="idMenu">

    <ion-header>
        <ion-toolbar color="primary" text-center>
            <ion-title>{{ uS.usuarioLogeado.nombres}} {{ uS.usuarioLogeado.apellidos}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                </ion-col>
                <ion-col>
                    <!-- <ion-img class="imagen" src="http://boiling-reaches-83706.herokuapp.com/img/users/{{ uS.usuarioLogeado.foto}}"></ion-img> -->
                </ion-col>
                <ion-col>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-list>
            <ion-item>{{ uS.usuarioLogeado.nombres}} {{ uS.usuarioLogeado.apellidos}}</ion-item>
            <ion-item>{{ uS.usuarioLogeado.carrera}}</ion-item>
            <ion-item>{{ uS.usuarioLogeado.email}}</ion-item>
            <ion-item>{{ uS.usuarioLogeado.matricula}}</ion-item>
            <ion-item>{{ uS.usuarioLogeado.telefono}}</ion-item>
            <ion-item>{{ uS.usuarioLogeado.rol }}</ion-item>
        </ion-list>
    </ion-content>

</ion-menu>